@import 'flowbite/css/flowbite.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* GLOBAL */
:root {
    --main-color: hsl(224, 89%, 60%);
}

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.subtitle h2 {
    color: var(--main-color);
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
}

.subtitle h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 50%;
    height: 3px;
    background-color: var(--main-color);
    transform: translateX(-50%);
}

/* BUTTON DARK */
html.dark {
    background-color: rgba(31, 41, 55, 1);
}

html.dark .dark\:ml-6 {
    margin-left: 1.5rem;
}

html.dark .dark\:bg-blue-500 {
    background-color: rgba(59, 130, 246, 1);
}

/* NAV */
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/* TITLE */
.name {
    color: var(--main-color);
}

.textos-main p {
    margin-bottom: 25px;
}

/* ABOUT ME */
#about-me .text {
    margin-left: 50px;
    font-size: 1.2rem;
}

#about-me .text p {
    margin-bottom: 25px;
}

#about-me .content p a {
    color: var(--main-color);
}

/* RESPONSIVE */
@media (max-width: 1023px) {
    #home {
        margin-top: 30%;
        margin-bottom: 25%;
    }
}

@media (max-width: 640px) {
    #about-me .text {
        padding-right: 20px;
        padding-left: 20px;
        margin-left: 0;
    }

    #about-me .content img {
        display: none;
    }
}
