@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite/css/flowbite.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* GLOBAL */
:root {
    --main-color: hsl(224, 89%, 60%);
}

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section:not(#home) {
    margin-bottom: 50px;
}

i {
    transition: all 0.3s ease;
}

i:hover {
    transform: scale(1.2);
}

.subtitle h2 {
    color: var(--main-color);
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
}

.subtitle h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 50%;
    height: 3px;
    background-color: var(--main-color);
    transform: translateX(-50%);
}

/* NAV */
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/* BUTTON DARK */
html.dark {
    background-color: rgba(31, 41, 55, 1);
}

html.dark .dark\:ml-6 {
    margin-left: 1.5rem;
}

html.dark .dark\:bg-blue-500 {
    background-color: rgba(59, 130, 246, 1);
}

/* TITLE */
.name {
    color: var(--main-color);
}

.textos-main p {
    margin-bottom: 25px;
}

/* NAV */
select {
    padding: 10px;
    border-radius: 5px !important;
    border: 1px solid #ccc !important;
}

select options {
    padding: 10px;
    border-radius: 5px !important;
    border: 1px solid #ccc !important;
}

/* ABOUT ME */
#about-me .text {
    margin-left: 50px;
    font-size: 1.2rem;
}

.cv {
    color: var(--main-color);
}

.owl-item {
    width: 50px;
    height: 50px;
}

.owl-carousel .item img {
    height: 45px;
    width: 45px;
}

.owl-carousel .item img {
    filter: drop-shadow(0px 0px 1px #fff);
}

.owl-carousel .owl-stage {
    display: flex;
    justify-content: center;
}

.owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-dots {
    display: none;
}

/* Experiencie */
.dot-timeline {
    background-color: var(--main-color);
}

/* Treballs */
.accordion {
    width: 100%;
    max-width: 1080px;
    height: 250px;
    overflow: hidden;
}

.accordion ul {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0;
    padding: 0;
}

.accordion ul li {
    display: table-cell;
    vertical-align: bottom;
    position: relative;
    width: 16.666%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 500ms ease;
    background-size: cover;
}

.accordion ul li div {
    display: block;
    overflow: hidden;
    width: 100%;
}

.accordion ul li div a {
    display: block;
    height: 250px;
    width: 100%;
    position: relative;
    z-index: 3;
    padding: 15px 20px;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    transition: all 200ms ease;
}

.accordion ul li div a * {
    opacity: 0;
    margin: 0;
    width: 95%;
    z-index: 5;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    position: relative;
}

.accordion ul li div a p::first-line {
    text-overflow: clip;
    font-size: 24px;
    text-transform: uppercase;
}

.accordion ul li div a p {
    font-size: 13.5px;
    white-space: normal;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    margin-right: 150px;
}

.accordion ul li:nth-child(1) {
    background-image: url('/assets/img/openjobs.png');
}
.accordion ul li:nth-child(2) {
    background-image: url('/assets/img/apartamentsfiguerencs.png');
}
.accordion ul li:nth-child(3) {
    background-image: url('/assets/img/gramola.png');
}
.accordion ul li:nth-child(4) {
    background-image: url('/assets/img/freeing-alzahar.jpg');
}
.accordion ul li:nth-child(5) {
    background-image: url('/assets/img/rellotge-digital.png');
}

.accordion ul:hover li {
    width: 8%;
}

.accordion ul:hover li:hover {
    width: 40%;
}

.accordion ul:hover li:hover a {
    background: rgba(0, 0, 0, 0.4);
}

.accordion ul:hover li:hover a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

/* RESPONSIVE */
@media (max-width: 767px) {
    .languages {
        margin-top: 2.5rem;
    }

    form {
        width: 390px;
    }
}

@media (max-width: 1023px) {
    #home {
        margin-top: 30%;
        margin-bottom: 25%;
    }
}

@media (max-width: 640px) {
    #about-me .text,
    form {
        padding-right: 20px;
        padding-left: 20px;
        margin-left: 0;
    }

    .ol {
        padding-right: 30px;
        padding-left: 30px;
        margin-left: 0;
    }

    #about-me .content img {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .accordion {
        height: auto;
    }
    .accordion ul li,
    .accordion ul li:hover,
    .accordion ul:hover li,
    .accordion ul:hover li:hover {
        position: relative;
        display: table;
        table-layout: fixed;
        width: 100%;
        -webkit-transition: none;
        transition: none;
    }
}
